:host {
  display: block;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 15px;
  width: 350px;
  border-radius: 5px;
}

.cover-picture {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.text-container {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}

.chapter-name {
  display: block;
  font-size: 10px;
  color: #C9C7C7;
  text-transform: uppercase;
}

.title {
  display: block;
  font-size: 18px;
  color: black;
  margin-top: 5px;
}

.num-facts {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  color: #2773BC;
  text-transform: uppercase;
}

.arrow-icon {
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
}